aside {
    background-color: red;
    width: auto;
    height: auto;

    ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 2px;
    }
}

#categorylist {
    overflow: hidden;
    background-color: blue;
    color: #fff;
}